// author: rico

$primaryColor: #ecd4a4;
$buttonColor: #e9c988;

.buttonColor {
    background: $buttonColor
}

.infoIcon {
    height: 12px;
}

.buttonArrow {
    width: 20px;
}

.searchField {
    width: 100%;
}

.title {
    margin-top: 10px;
    margin-bottom: 0;
}

.titleBig {
    margin-top: 0;
    margin-bottom: 10px;
}

.detail, .comment, .search {
    background: #f5deb3;
}

.warning {
    color: crimson;
}
